<a href="https://colab.research.google.com/github/satishgc227/git-test/blob/master/OTTO_RECOMMENDER_SYSTEM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task overview :
The aim of this competition is to predict e-commerce clicks, cart additions, and orders. You'll build a multi-objective recommender system based on previous events in a user session.

Current recommender systems consist of various models with different approaches, ranging from simple matrix factorization to a transformer-type deep neural network. However, no single model exists that can simultaneously optimize multiple objectives. In this competition, you’ll build a single entry to predict click-through, add-to-cart, and conversion rates based on previous same-session events.

Import libraries:

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import sys

In [ ]:
!pip install zipfile36

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting zipfile36
  Downloading zipfile36-0.1.3-py3-none-any.whl (20 kB)
Installing collected packages: zipfile36
Successfully installed zipfile36-0.1.3

In [ ]:
if sys.version_info >= (3, 6):
    import zipfile
else:
    import zipfile36 as zipfile


file_name="otto-recommender-system.zip"

In [ ]:
# opening the zip file in READ mode
with zipfile(file_name, 'r') as zip:
    # printing all the contents of the zip file
    zip.printdir()
  
    # extracting all the files
    print('Extracting all the files now...')
    zip.extractall()
    print('Done!')

TypeError: ignored

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df=pd.read_csv("/content/traian csv.csv")

In [ ]:
df

        session        aid            ts    type
0       8000000   766953.0  1.660420e+12  clicks
1       8000000  1586093.0  1.660420e+12  clicks
2       8000000  1586093.0  1.660420e+12  clicks
3       8000000   682970.0  1.660420e+12  clicks
4       8000000   799794.0  1.660420e+12  clicks
...         ...        ...           ...     ...
356687  8033385  1074359.0  1.660850e+12  clicks
356688  8033385  1234452.0  1.660850e+12  clicks
356689  8033385  1074359.0  1.660850e+12  clicks
356690  8033385  1234452.0  1.660850e+12  clicks
356691     8033        NaN           NaN     NaN

[356692 rows x 4 columns]

Data preprocessing:

In [ ]:
df.isnull().sum()

session    0
aid        1
ts         1
type       1
dtype: int64

In [ ]:
df.dropna()

        session        aid            ts    type
0       8000000   766953.0  1.660420e+12  clicks
1       8000000  1586093.0  1.660420e+12  clicks
2       8000000  1586093.0  1.660420e+12  clicks
3       8000000   682970.0  1.660420e+12  clicks
4       8000000   799794.0  1.660420e+12  clicks
...         ...        ...           ...     ...
356686  8033385  1074359.0  1.660850e+12  clicks
356687  8033385  1074359.0  1.660850e+12  clicks
356688  8033385  1234452.0  1.660850e+12  clicks
356689  8033385  1074359.0  1.660850e+12  clicks
356690  8033385  1234452.0  1.660850e+12  clicks

[356691 rows x 4 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356692 entries, 0 to 356691
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   session  356692 non-null  int64
 1   aid      356691 non-null  float64
 2   ts       356691 non-null  float64
 3   type     356691 non-null  object
dtypes: float64(2), int64(1), object(1)
memory usage: 10.9+ MB

In [11]:
import json
f=open("/content/test.jsonl")
chunks=f.read()
chunks

In [13]:
print(chunks)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [14]:
import pandas as pd
import json
import glob
from pandas.io.json import json_normalize

json_files = glob.glob("*.json")
dfs = []
for file in json_files:
    with open("/content/test.jsonl") as f:
        for line in f.readlines():
            df = pd.json_normalize(json.loads(line))
            list_= ['','Item.metadata.M.timestamp.S','Item.sensor.M.celcius.N','Item.sensor.M.water.N']
            df = df.loc[:, df.columns.isin(list_)]
            dfs.append(df)
df_combine = pd.concat(dfs, sort=False)
df_combine.to_csv('json_to_raw.csv',index= None)

ValueError: ignored

In [3]:
# import zipfile
# from google.colab import drive

# drive.mount('/content/drive/')

# zip_ref = zipfile.ZipFile("/content/drive/Othercomputers/My Laptop/Downloads/train.jsonl.zip", 'r')
# zip_ref.extractall("/content/drive/Othercomputers/My Laptop/Downloads/tmp")
# zip_ref.close()

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [1]:
import json
dd=open("/content/drive/Othercomputers/My Laptop/Downloads/tmp/train.jsonl")

In [5]:
import pandas as pd
chunks=pd.read_json(dd,lines=True, chunksize=1000)

In [12]:
fg=pd.DataFrame(chunks)

Empty DataFrame
Columns: []
Index: []

In [10]:
n = 2
train_sessions = pd.DataFrame()
#chunks = pd.read_json(data_path / 'train.jsonl', lines=True, chunksize=chunksize)

for e, chunk in enumerate(chunks):
    print(e,chunk)