<a href="https://colab.research.google.com/github/satishgc227/git-test/blob/master/OTTO_RECOMMENDER_SYSTEM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task overview :
The aim of this competition is to predict e-commerce clicks, cart additions, and orders. You'll build a multi-objective recommender system based on previous events in a user session.

Current recommender systems consist of various models with different approaches, ranging from simple matrix factorization to a transformer-type deep neural network. However, no single model exists that can simultaneously optimize multiple objectives. In this competition, youâ€™ll build a single entry to predict click-through, add-to-cart, and conversion rates based on previous same-session events.

Import libraries:

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import sys

In [2]:
!pip install zipfile36

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting zipfile36
  Downloading zipfile36-0.1.3-py3-none-any.whl (20 kB)
Installing collected packages: zipfile36
Successfully installed zipfile36-0.1.3

In [3]:
if sys.version_info >= (3, 6):
    import zipfile
else:
    import zipfile36 as zipfile


file_name="otto-recommender-system.zip"

In [5]:
# opening the zip file in READ mode
with zipfile(file_name, 'r') as zip:
    # printing all the contents of the zip file
    zip.printdir()
  
    # extracting all the files
    print('Extracting all the files now...')
    zip.extractall()
    print('Done!')

TypeError: ignored

In [8]:
df=pd.read_csv("/content/traian csv.csv")

In [10]:
df

        session        aid            ts    type
0       8000000   766953.0  1.660420e+12  clicks
1       8000000  1586093.0  1.660420e+12  clicks
2       8000000  1586093.0  1.660420e+12  clicks
3       8000000   682970.0  1.660420e+12  clicks
4       8000000   799794.0  1.660420e+12  clicks
...         ...        ...           ...     ...
356687  8033385  1074359.0  1.660850e+12  clicks
356688  8033385  1234452.0  1.660850e+12  clicks
356689  8033385  1074359.0  1.660850e+12  clicks
356690  8033385  1234452.0  1.660850e+12  clicks
356691     8033        NaN           NaN     NaN

[356692 rows x 4 columns]

Data preprocessing:

In [12]:
df.isnull().sum()

session    0
aid        1
ts         1
type       1
dtype: int64

In [15]:
df.dropna()

        session        aid            ts    type
0       8000000   766953.0  1.660420e+12  clicks
1       8000000  1586093.0  1.660420e+12  clicks
2       8000000  1586093.0  1.660420e+12  clicks
3       8000000   682970.0  1.660420e+12  clicks
4       8000000   799794.0  1.660420e+12  clicks
...         ...        ...           ...     ...
356686  8033385  1074359.0  1.660850e+12  clicks
356687  8033385  1074359.0  1.660850e+12  clicks
356688  8033385  1234452.0  1.660850e+12  clicks
356689  8033385  1074359.0  1.660850e+12  clicks
356690  8033385  1234452.0  1.660850e+12  clicks

[356691 rows x 4 columns]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356692 entries, 0 to 356691
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   session  356692 non-null  int64
 1   aid      356691 non-null  float64
 2   ts       356691 non-null  float64
 3   type     356691 non-null  object
dtypes: float64(2), int64(1), object(1)
memory usage: 10.9+ MB

AttributeError: ignored